In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime
import joblib
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [2]:
data_2017 = pd.read_csv("données/valeursfoncieres-2017-s2.csv", sep="|")
data_2018 = pd.read_csv("données/valeursfoncieres-2018.csv", sep="|")
data_2019 = pd.read_csv("données/valeursfoncieres-2019.csv", sep="|")
data_2020 = pd.read_csv("données/valeursfoncieres-2020.csv", sep="|")
data_2021 = pd.read_csv("données/valeursfoncieres-2021.csv", sep="|")
data_2022 = pd.read_csv("données/valeursfoncieres-2022-s1.csv", sep="|")

dataframes = []

C:\Users\xavid\AppData\Local\Temp\ipykernel_11552\3874441308.py:5: DtypeWarning: Columns (18,23,24,26,28,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2021 = pd.read_csv("données/valeursfoncieres-2021.csv", sep="|")
C:\Users\xavid\AppData\Local\Temp\ipykernel_11552\3874441308.py:6: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2022 = pd.read_csv("données/valeursfoncieres-2022-s1.csv", sep="|")

In [3]:
dataframes.append(data_2017)
dataframes.append(data_2018)
dataframes.append(data_2019)
dataframes.append(data_2020)
dataframes.append(data_2021)
dataframes.append(data_2022)

In [4]:
data = pd.concat(dataframes, ignore_index=True)

In [5]:
data

,Code service sages,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2021,Vente,...,NaN,0,1.0,Maison,NaN,97.0,5.0,S,NaN,2410.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2021,Vente,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,2410.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2021,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,530.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2021,Vente,...,NaN,0,1.0,Maison,NaN,88.0,4.0,S,NaN,866.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2021,Vente,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,1426.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5804311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,21/06/2022,Vente,...,NaN,2,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
5804312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,21/06/2022,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
5804313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30/06/2022,Vente,...,NaN,1,2.0,Appartement,NaN,15.0,1.0,NaN,NaN,NaN
5804314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10/02/2022,Adjudication,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
5804315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,29/04/2022,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN

In [6]:
data_c = data[['Nature mutation', 'Valeur fonciere', 'No voie', 'Code postal',
                         'Code departement', 'Code type local', 'Code voie', 'Nombre pieces principales', 'Nombre de lots', 'Date mutation', 'Surface reelle bati', 'Surface terrain']]

In [7]:
data_c.head()

,Nature mutation,Valeur fonciere,No voie,Code postal,Code departement,Code type local,Code voie,Nombre pieces principales,Nombre de lots,Date mutation,Surface reelle bati,Surface terrain
0,Vente,"185000,00",5080.0,1370.0,1,1.0,0471,5.0,0,05/01/2021,97.0,2410.0
1,Vente,"185000,00",5080.0,1370.0,1,3.0,0471,0.0,0,05/01/2021,0.0,2410.0
2,Vente,"10,00",NaN,1290.0,1,NaN,B043,NaN,0,06/01/2021,NaN,530.0
3,Vente,"204332,00",7.0,1310.0,1,1.0,0276,4.0,0,04/01/2021,88.0,866.0
4,Vente,"320000,00",87.0,1250.0,1,3.0,0140,0.0,0,06/01/2021,0.0,1426.0

In [8]:
data_c["Code departement"].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       21, 22, 23, 24, 25, 26, 27, 28, 29, '29', '2A', '2B', '30', 30, 31,
       32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
       49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66,
       69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86,
       87, 88, 89, 90, 91, 92, 93, 94, 95, 971, 972, 973, 974, 75],
      dtype=object)

In [9]:
data_c.dropna(axis=0, inplace=True)
data_c= data_c.fillna(0)
data_c = data_c[data_c['Nature mutation'] == 'Vente']
data_c = data_c.drop(columns='Nature mutation')

C:\Users\xavid\AppData\Local\Temp\ipykernel_11552\2495892194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_c.dropna(axis=0, inplace=True)

In [10]:
data_c['Code postal'] = data_c['Code postal'].astype(int)
data_c['No voie'] = data_c['No voie'].astype(int)
data_c['Code postal'] = data_c['Code postal'].astype(str)
data_c['No voie'] = data_c['No voie'].astype(str)
data_c['Surface reelle bati'] = data_c['Surface reelle bati'].astype(str)
data_c["ID_Location"] = data_c['Code voie'].astype(str) +"-"+ data_c["Code postal"]+"-"+ data_c["No voie"]+"-"+ data_c["Surface reelle bati"]
data_c['Code postal'] = data_c['Code postal'].astype(float)
data_c['No voie'] = data_c['No voie'].astype(float)
data_c['Code departement'] = data_c['Code departement'].astype(str)
data_c['Code departement'] = data_c['Code departement'].str.replace('2A', '222')
data_c['Code departement'] = data_c['Code departement'].str.replace('2B', '223')
data_c = data_c.drop(columns='Code voie')

In [11]:
data_c["Code departement"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '222', '223', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55',
       '56', '58', '59', '60', '61', '62', '63', '64', '65', '66', '69',
       '70', '71', '72', '73', '74', '76', '77', '78', '79', '80', '81',
       '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92',
       '93', '94', '95', '971', '972', '973', '974', '75'], dtype=object)

In [12]:
data_c['Nombre pieces principales'] = data_c['Nombre pieces principales'].astype(int)
data_c['Nombre de lots'] = data_c['Nombre de lots'].astype(int)
data_c['Valeur fonciere'] = data_c['Valeur fonciere'].str.replace(',', '.')
data_c['Valeur fonciere'] = data_c['Valeur fonciere'].astype(float)
data_c['Valeur fonciere'] = data_c['Valeur fonciere'].astype(int)
data_c = data_c[data_c['Valeur fonciere'] < 5000000]
data_c['Code type local'] = data_c['Code type local'].astype(int)
data_c['No voie'] = data_c['No voie'].astype(int)
data_c['Code postal'] = data_c['Code postal'].astype(int)
data_c['Code type local'] = data_c['Code type local'].astype(int)
#data_2021_c['Surface terrain'] = data_2021_c['Surface terrain'].astype(int)
data_c['Surface reelle bati'] = data_c['Surface reelle bati'].str.replace(',', '.')
data_c['Surface reelle bati'] = data_c['Surface reelle bati'].astype(float)
data_c['Surface reelle bati'] = data_c['Surface reelle bati'].astype(int)
data_c['Date mutation'] = pd.to_datetime(data_c['Date mutation'], format='%d/%m/%Y')

In [13]:
data_c['Year'] = data_c['Date mutation'].dt.year
data_c['Month'] = data_c['Date mutation'].dt.month
data_c['Day'] = data_c['Date mutation'].dt.day
data_c.drop('Date mutation', axis=1, inplace=True)

In [14]:
data_c.set_index('ID_Location', inplace=True)

In [15]:
data_c

,Valeur fonciere,No voie,Code postal,Code departement,Code type local,Nombre pieces principales,Nombre de lots,Surface reelle bati,Surface terrain,Year,Month,Day
ID_Location,,,,,,,,,,,,
0471-1370-5080-97.0,185000,5080,1370,1,1,5,0,97,2410.0,2021,1,5
0471-1370-5080-0.0,185000,5080,1370,1,3,0,0,0,2410.0,2021,1,5
0276-1310-7-88.0,204332,7,1310,1,1,4,0,88,866.0,2021,1,4
0140-1250-87-0.0,320000,87,1250,1,3,0,0,0,1426.0,2021,1,6
0140-1250-87-168.0,320000,87,1250,1,1,5,0,168,1426.0,2021,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
5465-75014-24-0.0,1946000,24,75014,75,3,0,0,0,159.0,2022,6,30
5465-75014-24-150.0,1946000,24,75014,75,1,5,0,150,159.0,2022,6,30
2756-75013-111-0.0,1350000,111,75013,75,3,0,0,0,228.0,2022,6,22
2756-75013-111-86.0,1350000,111,75013,75,1,3,0,86,228.0,2022,6,22
4934-75007-15-70.0,2480000,15,75007,75,1,4,0,70,107.0,2022,6,28

In [16]:
data_c.sort_values(by=['ID_Location'], ascending=True, inplace=True)

In [17]:
data_c.dropna(axis=0, inplace=True)
data_c= data_c.fillna(0)
data_c = data_c.drop_duplicates()
data_c

,Valeur fonciere,No voie,Code postal,Code departement,Code type local,Nombre pieces principales,Nombre de lots,Surface reelle bati,Surface terrain,Year,Month,Day
ID_Location,,,,,,,,,,,,
0001-1000-67-370.0,285000,67,1000,1,4,0,0,370,1550.0,2021,6,14
0001-10130-1-0.0,25000,1,10130,10,3,0,0,0,241.0,2021,4,19
0001-10130-1-50.0,25000,1,10130,10,1,1,0,50,125.0,2021,4,19
0001-10130-7-0.0,125000,7,10130,10,3,0,0,0,772.0,2021,7,16
0001-10130-7-178.0,125000,7,10130,10,1,7,0,178,772.0,2021,7,16
...,...,...,...,...,...,...,...,...,...,...,...,...
X549-83330-1965-103.0,511830,1965,83330,83,2,4,0,103,1500.0,2021,6,25
X549-83330-1965-16.0,511830,1965,83330,83,2,2,0,16,500.0,2021,6,25
X549-83330-1965-16.0,511830,1965,83330,83,2,2,0,16,1500.0,2021,6,25
X549-83330-1965-16.0,511830,1965,83330,83,2,2,0,16,3500.0,2021,6,25
X912-73440-3-140.0,300000,3,73440,73,1,5,0,140,763.0,2021,1,29

In [18]:
# Séparer les données en variables d'entrée (X) et variable cible (y)
X = data_c.drop("Valeur fonciere", axis=1)
y = data_c["Valeur fonciere"]

In [19]:
#data = data_2021_c.groupby(['ID_Location', 'Date mutation'])

In [20]:
#print(data.head(5))

In [21]:
# Diviser les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
#len(train_generator)

In [23]:
# Créer et entraîner le modèle GBM avec des hyperparamètres personnalisés
model = GradientBoostingRegressor(
    n_estimators=9000,  # Nombre d'estimateurs (arbres) dans l'ensemble
    learning_rate=0.05,  # Taux d'apprentissage
    max_depth=7,  # Profondeur maximale des arbres
    random_state=50  # Graine aléatoire pour la reproductibilité
)

In [24]:
# Entraîner le modèle sur l'ensemble d'entraînement
model.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=0.05, max_depth=7, n_estimators=9000,
                          random_state=50)

In [25]:
y_pred = model.predict(X_test)

In [26]:
# Calculer l'erreur quadratique moyenne (RMSE) sur l'ensemble de test
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("RMSE:", rmse)

RMSE: 195660.25819809086

In [27]:
print(y_pred)

[  60432.58028756  321817.44280628  342562.4350669  ...   55790.16472489
 1457144.30528948   65891.48328629]

In [29]:
# Enregistrer le modèle
joblib.dump(model, 'GBM_Model_date.pkl')

['GBM_Model_date.pkl']